## 리스트 컴프리헨션(list comprehension)

In [3]:
ll = [1, 2, 3, 4, 5]

In [4]:
# 첫 번째 인자에는 하나의 원소를 받는 함수를 넣고, 두 번째 인자에는 리스트를 전달
m = map(lambda x : x * x, ll)

In [5]:
[*m] # map 객체에 별표를 붙이면 원소를 변환해서 값을 리스트 내에 표시

[1, 4, 9, 16, 25]

In [ ]:
# map 대신에 리스트 컴프리헤션으로 처리할 수 있다
# 이때는 원소를 하나씩 처리하기 위해 인라인으로 for문 작성
lh = [x*x for x in ll]

In [ ]:
lh

[1, 4, 9, 16, 25]

In [ ]:
f = filter(lambda x : x % 2 == 0, lh) # filter도 클래스이다.

In [ ]:
f # filter 클래스의 객체가 생성

In [ ]:
[*f] # 필터 객체에 별표를 붙이면, 해당 조건에 맞는 원소만 선택.

[4, 16]

In [ ]:
lh1 = [x*x for x in ll if x % 2 == 0] # 필터는 for문 다음에 if문을 사용해 정의.

In [ ]:
lh1

[4, 16]

## 딕셔너리(dict)와 집합(set) 컴프리헨션

In [ ]:
s = {1, 2, 3, 4, 5}
m = map(lambda x : x * x, s) # 집합을 map에 넣어 처리할 수 있다.
{*m} # 집합에 map 객체를 넣어 별표를 붙이면 처리한 원소를 집합으로 표시.

{1, 4, 9, 16, 25}

In [ ]:
ll = [('a', 1), ('b', 2)] # 순서 쌍으로 된 리스트 객체 생성.

In [ ]:
def t(x):            # 함수 생성
  x = list(x)        # 인자로 전달된 튜플을 리스트로 변환.
  x[1] = x[1] * x[1] # 첫 번째 원소를 곱해서 첫 번째 원소에 할당.
  x = tuple(x)       # 다시 튜플로 변환.

  return x

In [ ]:
# 리스트가 전달되면 함수의 변환을 람다 함수로 표시할 때
# 정의된 함수를 표현식에 넣어서 실행
d = map(lambda x : t(x), ll)
[*d]  # map 객체에 별표를 붙여 처리한 결과를 리스트로 생성.

[('a', 1), ('b', 4)]

In [ ]:
# 딕셔너리 컴프리헨션으로 두 값을 곱하도록 로직을 정하면
# 별도의 함수가 없어도 처리 가능.
{x:y*y for x, y in ll}

{'a': 1, 'b': 4}

## 컴프리헨션 처리할 때 주의할 점

In [ ]:
ll = [x for x in range(10)] # 리스트 컴프리헨션에 사용되는 변수는 지역 이름공간으로 처리.
ll

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
x

NameError: ignored

In [ ]:
lll = [locals() for x in range(10)] # 지역 이름공간을 locals 함수로 출력.
lll

[{'.0': <range_iterator at 0x7e2a225dd4d0>, 'x': 9},
 {'.0': <range_iterator at 0x7e2a225dd4d0>, 'x': 9},
 {'.0': <range_iterator at 0x7e2a225dd4d0>, 'x': 9},
 {'.0': <range_iterator at 0x7e2a225dd4d0>, 'x': 9},
 {'.0': <range_iterator at 0x7e2a225dd4d0>, 'x': 9},
 {'.0': <range_iterator at 0x7e2a225dd4d0>, 'x': 9},
 {'.0': <range_iterator at 0x7e2a225dd4d0>, 'x': 9},
 {'.0': <range_iterator at 0x7e2a225dd4d0>, 'x': 9},
 {'.0': <range_iterator at 0x7e2a225dd4d0>, 'x': 9},
 {'.0': <range_iterator at 0x7e2a225dd4d0>, 'x': 9}]

In [ ]:
def power (x):     # 함수를 하나 정의
  return x * x     # 원소를 받아서 같은 원소를 곱한다.

In [ ]:
l = [power for x in range(3)]  # 리스트 컴프리헨션에 함수 이름만 처리.

In [ ]:
l # 생성된 결과가 아닌 함수만 출력.

[<function __main__.power(x)>,
 <function __main__.power(x)>,
 <function __main__.power(x)>]

In [ ]:
l[0](3) # 저장된 함수를 색인 연산으로 조회된 후에 실행. 함수가 실행되어 반환 값이 있다.

9

In [ ]:
ll = [power(x) for x in range(3)] # 리스트 컴프리헨션에서 원소 값으로 출력하려면 함수를 실행하면 된다.

In [ ]:
ll

[0, 1, 4]

## 해당 코드는 "한권으로 개발자가 원하던 파이썬 심화 A to Z" 책의 코드를 참고하였습니다.