## 튜플 (tuple)

## 튜플의 길이 확인

In [ ]:
print(len((1, 2, 3, "abc")))
print(len((1, 2, (1, 2))))

4
3

## 요소 접근 방법



*   인덱싱을 이용한 방법

In [ ]:
t1 = (1, 2, 3, (1, 2))
print(t1[0])
print(t1[3])
print(t1[-1])
print(t1[-2])

1
(1, 2)
(1, 2)
3



*   반복문과 인덱스로 접근

In [ ]:
idx = 0
while idx < len(t1):
  print(t1[idx])
  idx += 1

for i in range(len(t1)):
  print(t1[i])

1
2
3
(1, 2)
1
2
3
(1, 2)



*   반복자 사용

In [ ]:
for t in t1:
  print(t)

1
2
3
(1, 2)

## 생성



*   요소를 지정해서 생성

In [ ]:
tuple1 = ()           # 빈 튜플 생성
tuple2 = (1, 2, 3, "abc")
tuple3 = (1, 2, 3, (1, 2))
tuple4 = (1, 2, 3, [1, 2])

print(type(tuple1))   # 튜플인지 확인
print(tuple2)
print(tuple3)
print(tuple4)

<class 'tuple'>
(1, 2, 3, 'abc')
(1, 2, 3, (1, 2))
(1, 2, 3, [1, 2])

In [ ]:
tuple5 = 1, 2, 3, [1, 2] # (1, 2, 3, [1, 2])와 같음
print(type(tuple5))      # 튜플인지 확인
print(tuple5)
tuple6 = 1, 2
print(tuple6)

<class 'tuple'>
(1, 2, 3, [1, 2])
(1, 2)

In [ ]:
tuple7 = (2,)     # 정수 한 개로 구성된 튜플 생성
print(type(tuple7))
print(tuple7)

tuple8 = ("abc",) # 문자열 한 개로 구성된 튜플 생성
print(tuple8)

<class 'tuple'>
(2,)
('abc',)

In [ ]:
tuple9 = (3)
tuple10 = ("abc")

print(type(tuple9))
print(tuple9)

print(type(tuple10))
print(tuple10)

<class 'int'>
3
<class 'str'>
abc



*   슬라이싱, 연결, 반복을 이용해서 새로운 튜플 생성

In [ ]:
tuple11 = (1, 2, 3, "abc")
tuple12 = tuple11[0:2]    # tuple11의 처음 두 개 요소를 튜플로 구성
print(tuple12)

(1, 2)

In [ ]:
tuple13 = tuple11[2:]    # tuple11의 세 번째부터 끝까지 튜플로 구성
print(tuple13)

tuple14 = tuple11[:4:2]  # 인덱스 0부터 3까지의 요소, 한 개씩 건너뜀
print(tuple14)

(3, 'abc')
(1, 3)

In [ ]:
tuple15 = tuple11 + tuple11
print(tuple15)

(1, 2, 3, 'abc', 1, 2, 3, 'abc')

In [ ]:
tuple16 = (1, 2) * 3
print(tuple16)

(1, 2, 1, 2, 1, 2)

## 튜플과 대입 연산자

In [ ]:
t = (1, 2, 3)
print(t)

(1, 2, 3)

In [ ]:
num4 = 4
num5 = 5

(num4, num5) = (3, 4)     # num4=3, num5=4를 실행시키는 것과 같은
print(f"num4 = {num4}, num5 = {num5}")

(num4, num6) = (1, "abc") # 변수 num6을 생성
print(f"num4 = {num4}, num6 = {num6}")

num4, num5 = 7, 9
print(f"num4 = {num4}, num5 = {num5}")

num7, num8 = 10, 5
print(f"num7 = {num7}, num8 = {num8}")

num4 = 3, num5 = 4
num4 = 1, num6 = abc
num4 = 7, num5 = 9
num7 = 10, num8 = 5

## 튜플은 변경 불가

In [ ]:
tuple7 = (1, 2, 3, [1, 2])
tuple7[1] = 3

TypeError: ignored

## 함수에서 여러 값을 동시에 반환



*   리스트를 이용해서 여러 값을 동시에 반환

In [ ]:
def divide1(x, y):
  result = []
  result.append(x // y)   # 몫 추가
  result.append(x % y)    # 나머지 추가

  return result           # 리스트 반환

def divide2(x, y):
  return [x // y, x % y]  # 리스트 반환

result1 = divide1(5, 3)
print(f"몫: {result1[0]}, 나머지: {result1[1]}")


result2 = divide2(5, 3)
print(f"몫: {result2[0]}, 나머지: {result2[1]}")

몫: 1, 나머지: 2
몫: 1, 나머지: 2



*   튜플을 이용해서 여러 값을 동시에 반환

In [ ]:
def divide3(x, y):
  return (x // y, x % y) # 튜플 반환

result3 = divide3(5, 3)
print(f"몫: {result3[0]}, 나머지: {result3[1]}")

(quotient, remainder) = divide3(5, 3)
print(f"몫: {quotient}, 나머지: {remainder}")

몫: 1, 나머지: 2
몫: 1, 나머지: 2

In [ ]:
def divide4(x, y):
  return x // y, x % y   # 튜플 반환

quotient, remainder = divide4(5, 3)
print(f"몫: {quotient}, 나머지: {remainder}")

몫: 1, 나머지: 2

## 리스트와 튜플의 상호 변환

In [ ]:
lst1 = [1, 2, "abc"]
t1 = tuple(lst1)
t2 = tuple(["abc", 1, 2])
print(t1)
print(t2)

(1, 2, 'abc')
('abc', 1, 2)

In [ ]:
lst2 = list(t1)
lst3 = list((1, 2, "abc"))
print(lst2)
print(lst3)

[1, 2, 'abc']
[1, 2, 'abc']

*   실습문제3: 함수의 인자로 정수 한 개를 전달받는다. 인자로 전달된 정수 n개만큼 사용자로부터 정수를 입력받고, 이를 요소로 튜플을 구성한 후, 함수의 결과값으로 반환한다. 이 함수를 이용해서 5개의 정수값으로 구성된 튜플을 생성하고 화면에 출력하는 프로그램을 작성한다.


*   요구사항:
- 사용자로부터 입력받을 정수의 개수는 함수에 인자로 전달한다.
- 사용자는 정수만을 입력한다고 가정한다.
- 함수를 검수할 때 입력받아서 튜플로 만들 정수의 개수는 5이다.

In [ ]:
def createTupleFromInput(n):
  t = ()
  for i in range(n):
    num = int(input("정수를 입력하세요: "))
    t += (num,)
  return t

t1 = createTupleFromInput(5)
print(t1)     # 튜플의 내용을 확인하기 위해 출력
for n in t1:
  print(n)    # 각 요소 출력

정수를 입력하세요: 5
정수를 입력하세요: 8
정수를 입력하세요: 3
정수를 입력하세요: 5
정수를 입력하세요: 9
(5, 8, 3, 5, 9)
5
8
3
5
9

실습문제4: 도형 정보를 담고 있는 튜플의 요소들을 이용해서 도형의 면적을 계산해서 출력하는 프로그램을 작성한다.
튜플의 요소들은 "사각형", 너비, 높이 또는 "원", 반지름 형태로 구성된다. 요소값이 "사각형"이면 다음 두 개 요소는 사각형의 너비와 높이이고, "원"이면 다음 요소는 원의 반지름에 해당되는 정수가 된다.

- 다음은 도형 정보를 담고 있는 튜플의 예이다.

- ("사각형", 30, 20, "원", 10)



*   요구사항:
- 튜플의 요소들은 오류 없이 문제에서 설명한 대로 구성된다.
- 튜플에 있는 도형의 개수는 정해져 있지 않다.
- 원주율은 math.pi를 사용한다 (import math 필요함).
- caclAndPrintArea() 함수를 구현한다. 이 함수는 튜플을 인자로 전달받고, 면적을 계산해서 화면에 출력한다.
- 도형 정보를 담고 있는 튜플은 다음 코드를 복사해서 사용한다.
- ("사각형", 30, 20, "원", 10, "사각형", 10, 10, "원", 20)
- 면적 정보를 출력하는 것은 다음 형식에 따른다.
- 도형종류, 면적을 계산할 때 필요한 정보, 넓이 # 사각형, 30, 20, 600

In [ ]:
import math

def calcAndPrintArea(t):
  idx = 0
  while idx < len(t):
    if t[idx] == "사각형":
      area = t[idx + 1] * t[idx + 2]
      print(f"{t[idx]}, {t[idx + 1]}, {t[idx + 2]}, {area}")
      idx += 3

    elif t[idx] == "원":
      area = t[idx + 1] * t[idx + 1] * math.pi
      print(f"{t[idx]}, {t[idx + 1]}, {area}")
      idx += 2

t = ("사각형", 30, 20, "원", 10, "사각형", 20, 40, "사각형", 10, 10, "원", 20)
calcAndPrintArea(t)

사각형, 30, 20, 600
원, 10, 314.1592653589793
사각형, 20, 40, 800
사각형, 10, 10, 100
원, 20, 1256.6370614359173

# Reference: 본 코드는 길벗 출판사의 "파이썬의 정석" 책의 코드를 수업형식에 맞게 응용한 코드입니다.