## List (리스트)

### 리스트 생성



*   직접 요소들을 명시해서 리스트 생성

In [ ]:
lst = [1, 2]

In [ ]:
[1, 'h', 'i', ' ', "ab", 3.3, 2, 5]

[1, 'h', 'i', ' ', 'ab', 3.3, 2, 5]

In [ ]:
[1, 2, 3, [1, 2]]

[1, 2, 3, [1, 2]]

In [ ]:
lst = [1, 2]
print(lst)

lst2 = [1, 'h', 'i', ' ', "ab", 3.3, 2, 5]
print(lst2)

lst3 = [1, 2, 3, [1, 2]]
print(lst3)

[1, 2]
[1, 'h', 'i', ' ', 'ab', 3.3, 2, 5]
[1, 2, 3, [1, 2]]

In [ ]:
num1 = 3
str1 = "abc"
lst = [num1, str1]

print(lst)

[3, 'abc']



*   빈 리스트 생성 후 요소 추가

In [ ]:
lst1 = []
print(lst1)

lst2 = list()
print(lst2)

[]
[]

In [ ]:
lst1 = []
lst1.append(4)
print(lst1)

lst1.append('5')
print(lst1)

lst1.append([2, 3])
print(lst1)

[4]
[4, '5']
[4, '5', [2, 3]]

In [ ]:
lst1 = [2, 3]
lst2 = [4, 5]
lst1.extend(lst2)
print(lst1)

[2, 3, 4, 5]

In [ ]:
print(lst1)
lst1.extend("abc")
print(lst1)

[2, 3, 4, 5]
[2, 3, 4, 5, 'a', 'b', 'c']



*   슬라이싱을 이용한 새로운 리스트 생성

In [ ]:
lst1 = [1, 2, 3, "abc", 4, 5]
print(lst1[2:4]) # lst1[2]와 lst1[3]으로 리스트를 구성

[3, 'abc']

In [ ]:
print(lst1[:3]) # lst1[0]~lst1[2]까지의 요소
print(lst1[2:]) # lst1[2]~lst[len(lst1)-1]까지의 요소
print(lst1[:])  # lst1[0]~lst[len(lst1)-1]까지의 요소

[1, 2, 3]
[3, 'abc', 4, 5]
[1, 2, 3, 'abc', 4, 5]

In [ ]:
print(lst1[2:5:2]) # lst1[2]~lst1[4]까지 2씩 건너뜀: lst1[2], lst1[4]
print(lst1[2:6:2]) # lst1[2]~lst1[5]까지 2씩 건너뜀: lst1[2], lst1[4]
print(lst1[:3:2])  # lst1[0]~lst1[2]: lst1[0], lst1[2]
print(lst1[2::2])  # lst1[2]~lst1[len(lst1)-1]: ;st1[2], lst1[4]

[3, 4]
[3, 4]
[1, 3]
[3, 4]



*   리스트를 연결해서 새로운 리스트 생성

In [ ]:
lst1 = [1, 2, 3]
lst2 = ["abc", 4, 5]
lst3 = lst1 + lst2 # lst1과 lst2를 연결한 새로운 리스트를 lst3에 저장
print(lst3)

[1, 2, 3, 'abc', 4, 5]

In [ ]:
lst1 = [1, 2, 3]
lst2 = lst1 * 4 # lst1을 네 번 반복해서 새로운 리스트 생성
print(lst2)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

## 리스트와 대입 연산자

In [ ]:
lst = [1, 2, 3]
print(lst)

[1, 2, 3]

In [ ]:
num = 4
[num] = [3] # (1) num = 3과 같음
print(num)

3

In [ ]:
num1 = 4
num2 = 5
[num1, num2] = [3, 4] # num1 = 3, num2 = 4를 실행시키는 것과 같음
print(f"num1 = {num1}, num2 = {num2}")

num1 = 3, num2 = 4

In [ ]:
[num1, num3] = [1, "abc"] # 변수 num3을 생성
print(f"num1 = {num1}, num3 = {num3}")

num1 = 1, num3 = abc

## 리스트의 요소 개수 확인

In [ ]:
e = []
print(len(e))

print(len(lst1)) # lst1 = [1, 2, 3]

print(len([])) # len()에 직접 리스트를 명시해도 됨

print(len([1, 2, 3, [1, 2]]))

0
3
0
4

## 리스트 요소에 접근



*   인덱싱

In [ ]:
print(lst1[0], lst1[1], lst1[2])

1 2 3



*   중첩된 리스트 요소에 접근

In [ ]:
lst = [1, 2, [3, 4, 5]]
nestedLst = lst[2] # nestedLst가 lst[2]에 있는 리스트를 나타내는 변수

print(nestedLst[0])
print(lst[2][0])
print(lst[2][1])

3
3
4

In [ ]:
lst1 = [1, 2, [3, [6, 7], 5]]
print(lst1[2][1][1]) #lst1의 세 번째의 두 번째의 두 번째 요소

7



*   반복문을 이용해서 요소에 접근

In [ ]:
for i in range(len(lst1)):
  print(lst1[i])

1
2
[3, [6, 7], 5]

In [ ]:
idx = 0
while idx < len(lst1):
  print(lst1[idx])
  idx += 1

1
2
[3, [6, 7], 5]



*   반복자 사용

In [ ]:
for item in lst1:
  print(item)

1
2
[3, [6, 7], 5]

In [ ]:
for ch in "hello":
  print(ch)

h
e
l
l
o

In [ ]:
lst = [8, 9, 4, 5, 10]
sum = 0
for n in lst:
  sum += n

print(sum)

36

## 요소 변경



*   단일 요소 변경

In [ ]:
lst1 = [1, 2, 3, "abc"]
lst1[2] = 4
print(lst1)                  # 3을 4로 변경

lst1[3] = ["ab", "a", "def"] # "abc"를 ["ab", "a", "def"]로 변경
print(lst1)

lst1[0] = "ab"               # 문자열을 한 개의 덩어리로 취급
print(lst1)

[1, 2, 4, 'abc']
[1, 2, 4, ['ab', 'a', 'def']]
['ab', 2, 4, ['ab', 'a', 'def']]

In [ ]:
lst1[4] = "abc"

IndexError: ignored



*   여러 요소 변경

In [ ]:
lst2 = [1, 2, 3, "abc"]
lst2[1:2] = ["g", "h"]  # lst2[1]을 제거하고 그 자리에 "g", "h"를 삽입
print(lst2)

lst2[2:4] = "ab"        # "h"와 3을 삭제하고 "ab"를 "a", "b"로 삽입
print(lst2)

[1, 'g', 'h', 3, 'abc']
[1, 'g', 'a', 'b', 'abc']

In [ ]:
lst2[1:3] = 3          # lst2[1], lst2[2]를 삭제하고 3을 삽입

TypeError: ignored

In [ ]:
lst2[1:2] = 3          # lst2[1]을 삭제하고 3을 삽입

TypeError: ignored

In [ ]:
print(lst2)
lst2[10:15] = "12"           # (1)
print(lst2)

lst2[-17:-14] = "34"
print(lst2)

[1, 'g', 'a', 'b', 'abc']
[1, 'g', 'a', 'b', 'abc', '1', '2']
['3', '4', 1, 'g', 'a', 'b', 'abc', '1', '2']

## 요소 삭제



*   위치를 이용한 요소 삭제

In [ ]:
lst3 = [1, 2, 3, "abc", "g", "h"]
del(lst3[1]) # 2를 삭제
print(lst3)

[1, 3, 'abc', 'g', 'h']

In [ ]:
del lst3[1]
print(lst3)

[1, 'abc', 'g', 'h']

In [ ]:
lst3 = [1, 2, 3, "abc", "g", "h"]
del(lst3[0:2])  # del(lst3[:2])와 같음
print(lst3)

lst3[0:2] = []  # 3. "abc"를 삭제
print(lst3)

lst3[:1] = []   # lst3[0] 즉 "g"만 삭제
print(lst3)

del(lst3[0])
print(lst3)

[3, 'abc', 'g', 'h']
['g', 'h']
['h']
[]



*   값을 이용한 요소 삭제

In [ ]:
lst4 = [1, 3, 5, 7, 9, 7, 5, 3, 1]

lst4.remove(5)  # lst4[2]를 삭제함
print(lst4)

lst4.remove(3)  # lst4[1]를 삭제함
print(lst4)

lst4.remove(3)  # lst4[5]를 삭제함
print(lst4)

[1, 3, 7, 9, 7, 5, 3, 1]
[1, 7, 9, 7, 5, 3, 1]
[1, 7, 9, 7, 5, 1]

## 리스트에 포함된 요소 값의 개수 세기

In [ ]:
lst5 = [1, 3, 5, 7, 9, 7, 5, 3, 1]
count3 = lst5.count(3)
print(count3)

count9 = lst5.count(9)
print(count9)

count0 = lst5.count(0)
print(count0)

2
1
0

## 요소를 검색하기



*   값의 존재 여부 확인

In [ ]:
lst5 = [1, 3, 5, 7, 9, 7, 5, 3, 1]
print(1 in lst5)
print(10 in lst5)

True
False



*   값의 위치 확인하기

In [ ]:
lst5 = [1, 3, 5, 7, 9, 7, 5, 3, 1]
idx = lst5.index(7)  # 첫 번째 7의 인덱스 반환
print(idx)

3

In [ ]:
lst5.index(10)

ValueError: ignored

In [ ]:
if 10 in lst5:
  idx = lst5.index(10)
  print(idx)

In [ ]:
if lst5.count(10) > 0:
  idx = lst5.index(10)
  print(idx)

## 요소 삽입

In [ ]:
lst6 = [1, 3, 5]
lst6.insert(1, 7)          # 인덱스 1에 7 삽입
print(lst6)

lst6.insert(-1, 9)         # 인덱스 -1에 9를 삽입하고 5를 오른쪽으로 밀어냄
print(lst6)

lst6.insert(-len(lst6), 0) # 인덱스 0에 0을 삽입
print(lst6)

lst6.insert(-10, -5)       # 법위 왼쪽 밖에 -5를 삽입(첫 부분에 삽입)
print(lst6)

lst6.insert(10, 13)        # 범위 오른쪽 밖에 9를 삽입(마지막에 추가)
print(lst6)

[1, 7, 3, 5]
[1, 7, 3, 9, 5]
[0, 1, 7, 3, 9, 5]
[-5, 0, 1, 7, 3, 9, 5]
[-5, 0, 1, 7, 3, 9, 5, 13]

## 요소 정렬

In [ ]:
lst7 = [1, 7, 5, 4, 3]
lst7.sort()               # 오름차순으로 정렬
print(lst7)

lst7.sort(reverse = True) # 내림차순으로 정렬
print(lst7)

[1, 3, 4, 5, 7]
[7, 5, 4, 3, 1]

In [ ]:
lst8 = [1, 7, 5, 4, 3, "abc"]
lst8.sort()

TypeError: ignored

## 요소 순서 뒤집기

In [ ]:
lst9 = [1, 7, 5, 4, 3]
lst9.reverse()
print(lst9)

[3, 4, 5, 7, 1]

## 문자열을 잘라서 리스트 생성하기



*   문자열.split(구분문자)

In [ ]:
lst = "what a beautiful \tday".split(" ")
print(lst)

lst = "what a beautiful \tday".split("\t")
print(lst)

['what', 'a', 'beautiful', '\tday']
['what a beautiful ', 'day']

*   문자열.split(구분문자, 횟수)

In [ ]:
lst = "what a beautiful \tday".split(" ", 2)
print(lst)

['what', 'a', 'beautiful \tday']

*   문자열.split()

In [ ]:
lst = "Python is a easy to learn programming language".split()
print(lst)

lst = "    Python \tis a easy to\tlearn\t\t\t\nprogramming language\n".split()
print(lst)

['Python', 'is', 'a', 'easy', 'to', 'learn', 'programming', 'language']
['Python', 'is', 'a', 'easy', 'to', 'learn', 'programming', 'language']

*   문자열.split(maxsplit=횟수)

In [ ]:
lst = "    Python \tis a easy to\tlearn\t\t\t\nprogramming language\n".split(maxsplit=2)
print(lst)

['Python', 'is', 'a easy to\tlearn\t\t\t\nprogramming language\n']

## 문자열.rsplit() 함수




*   문자열.rsplit(구분문자, 횟수)

In [ ]:
lst = "what a beautiful \tday".rsplit(" ", 2)
print(lst)

['what a', 'beautiful', '\tday']

*   문자열.rsplit(maxsplit=횟수)

In [ ]:
lst = "    Python \tis a easy to\tlearn\t\t\t\nprogramming language\n".rsplit(maxsplit=2)
print(lst)

['    Python \tis a easy to\tlearn', 'programming', 'language']

*   실습문제1: 함수의 인자로 정수 한 개를 전달받는다. 인자로 전달된 정수 n개만큼 사용자로부터 정수를 입력받고, 이를 요소로 리스트를 구성한 후 함수의 결과값으로 반환한다. 함수를 이용해서 5개의 정수값으로 구성된 리스트를 생성하고 화면에 출력하는 프로그램을 작성한다.


*   요구사항:
- 사용자로부터 입력받을 정수의 개수는 함수에 인자로 전달한다.
- 사용자는 정수만을 입력한다고 가정한다.
- 함수를 검수할 때 입력받아서 리스트로 만들 정수는 5개다.

In [ ]:
def createListFromInput(n):
  lst = []
  for i in range(n):
    num = int(input("정수를 입력하세요: "))
    lst.append(num)

  return lst

lst1 = createListFromInput(5)
print(lst1)

for n in lst1:
  print(n)

정수를 입력하세요: 10
정수를 입력하세요: 5
정수를 입력하세요: 8
정수를 입력하세요: 9
정수를 입력하세요: 4
[10, 5, 8, 9, 4]
10
5
8
9
4

*   실습문제2: 인자로 전달받은 정수의 모든 약수를 리스트로 구성해서 반환하는 함수 (createDivisionList)를 구현한다. 사용자로부터 1000 이하의 정수 중에서 한 개를 입력받고, 약수의 리스트를 만드는 함수를 이용해서 약수 리스트를 생성한다. 약수 리스트에 있는 모든 요소의 합을 계산해서 화면에 출력하는 프로그램을 작성한다.


*   요구사항:
- 사용자는 1000 이하의 정수를 입력할 것이라고 가정한다.
- 약수 리스트가 제대로 만들어졌는지 확인할 수 있도록 createDivisorsList() 함수를 호출하는 코드에서 리스트의 내용을 화면에 출력한다.

In [ ]:
def createDivisorList(n):
  lst = []
  for i in range(1, n + 1):
    if n % i == 0:
      lst.append(i)

  return lst

# 사용자로부터 정수 입력받기
n = int(input("1000이하의 정수 한 개를 입력하세요: "))
# 약수 리스트 생성
lst = createDivisorList(n)
print(lst)                                             #약수 리스트 확인을 위해 화면에 출력

# 약수의 합 구하기
sum = 0
for i in lst:
  sum += i
print(f"약수들의 총 합: {sum}") # 합계 출력

1000이하의 정수 한 개를 입력하세요: 50
[1, 2, 5, 10, 25, 50]
약수들의 총 합: 93

# Reference: 본 코드는 길벗 출판사의 "파이썬의 정석" 책의 코드를 수업형식에 맞게 응용한 코드입니다.