## 집합 (set)

## 집합의 생성



*   요소를 지정해서 생성

In [ ]:
s = {1, 2, 3, 'a', (1, 2, 3)}
print(s)

{1, 2, 3, (1, 2, 3), 'a'}



*   set() 명령을 이용해서 생성

In [ ]:
s = set()
print(s)

set()

In [ ]:
s1 = set([1, 2, 3])   # (1)
print(s1)

s2 = set("string")    # (2)
print(s2)

s3 = set((1, 2, 3))   # (3)
print(s3)

{1, 2, 3}
{'g', 't', 'i', 'r', 'n', 's'}
{1, 2, 3}

## 집합 사용법



*   집합에 요소 추가

In [ ]:
s1 = {1, 2}
s1.add(1)     # 동일한 요소 추가
print(s1)

s1.add(3)     # 새로운 요소 추가
print(s1)

s1.add("abc") # 새로운 요소 추가
print(s1)

{1, 2}
{1, 2, 3}
{1, 2, 3, 'abc'}

In [ ]:
s1.add([1, 2]) # 리스트 추가 불가

TypeError: ignored

In [ ]:
s1.add((1, 2)) # 튜플 추가
print(s1)

{1, 2, (1, 2), 20, '문자열'}

In [ ]:
s2 = {1, 2}
s2.update("abc") # 새로운 요소 추가
print(s2)

{1, 2, 'b', 'c', 'a'}

In [ ]:
s2.update(["a", "b", "d", "e"]) # "a","b"는 중복, "d","e"는 새로운 요소
print(s2)

{1, 2, 'e', 'b', 'c', 'd', 'a'}



*   집합에 있는 요소 개수 확인

In [ ]:
len(s2)

7



*   교집합 연산

In [ ]:
s1 = {1, 2, 20, (1, 2), "문자열"}
s2 = {1, 2, 3}
ints = s1 & s2
print(ints)

{1, 2}

In [ ]:
ints2 = s1.intersection(s2)
print(ints2)

{1, 2}



*   합집합 연산

In [ ]:
unions = s1 | s2
print(unions)

{1, 2, (1, 2), 20, 3, '문자열'}

In [ ]:
unions2 = s1.union(s2)
print(unions2)

{1, 2, (1, 2), 20, 3, '문자열'}



*   차집합 연산

In [ ]:
diffs = s1 - s2
print(diffs)

{'문자열', (1, 2), 20}

In [ ]:
diffs2 = s1.difference(s2)
print(diffs2)

{'문자열', (1, 2), 20}



*   대칭차집합 연산

In [ ]:
symmdiffs = s1 ^ s2 # 중복되는 1,2를 제외한 나머지 요소들의 집합
print(symmdiffs)

{(1, 2), 3, 20, '문자열'}

In [ ]:
symmdiffs2 = s1.symmetric_difference(s2)
print(symmdiffs2)

{(1, 2), 3, 20, '문자열'}



*   요소 제거

In [ ]:
s1 = {1, 2, 20, (1, 2), "문자열"}
s1.remove(1)            # 1을 제거
print(s1)

s1.remove("문자열")     # "문자열" 제거
print(s1)

{2, (1, 2), 20, '문자열'}
{2, (1, 2), 20}

In [ ]:
s1.remove("문자열")     # 없는 요소를 제거

KeyError: ignored



*   요소가 집합에 있는지 확인

In [ ]:
s1 = {1, 2, 20, (1, 2), "문자열"}
if 1 in s1:
  print("1은 셋 s1에 포함되어 있습니다")
else:
  print("1은 셋 s1의 요소가 아닙니다")

1은 셋 s1에 포함되어 있습니다



*   집합을 리스트로 반환

In [ ]:
s1 = {1, 2, 20, (1, 2), "문자열"}
lst1 = list(s1)
print(lst1)

[1, 2, (1, 2), 20, '문자열']

*   실습문제7: 1 ~ 20 사이의 숫자 중에서 무작위로 중복되지 않는 숫자 10개를 뽑아서 출력한다.



*   요구사항:
- 범위 내의 무작위 숫자 생성은 random.randint()를 사용한다.
- 생성된 정수 10개는 공백 문자로 분리해서 한 줄에 출력한다.

In [ ]:
import random

numSet = set() # 빈 집합 생성
# 무작위로 10개의 중복되지 않는 숫자 생성

while True:
  n = random.randint(1, 20)
  numSet.add(n)
  if len(numSet) == 10:
    break

# 리스트로 변환 후 출력
numList = list(numSet)
for n in numList:
  print(n, end=' ')

1 2 4 6 7 9 12 17 18 20

# Reference: 본 코드는 길벗 출판사의 "파이썬의 정석" 책의 코드를 수업형식에 맞게 응용한 코드입니다.