## 딕셔너리 (dictionary)

## 연관되는 데이터와 딕셔너리

In [ ]:
subjects = ["국어", "수학", "화학", "영어"]
socres = [90, 80, 95, 100]

for i in range(len(subjects)):
  print(f"{subjects[i]}: {socres[i]}")

국어: 90
수학: 80
화학: 95
영어: 100

## 딕셔너리 표현 및 사용법



*   딕셔너리 표현 방법

In [ ]:
# {키1:값1, 키2:값2}



*   딕셔너리 생성 및 요소 추가

In [ ]:
# 빈 딕셔너리 생성 후 요소 추가
# 요소를 명시해서 딕셔너리 생성



*   빈 딕셔너리 생성

In [ ]:
emptyDictionary = {} # 빈 딕셔너리 생성
print(emptyDictionary)

{}

In [ ]:
emptyDictionary = dict()
print(emptyDictionary)

{}



*   요소를 명시해서 딕셔너리 생성

In [ ]:
d1 = {2:3, "hello":"world", "수학":90} # 요소를 명시해서 생성
lectureList = {"파이썬프로그래밍1":["화5", "목34"], "파이썬프로그래밍2":["화6", "목56"]}

In [ ]:
d = {"name" : "홍길동", "age" : 20, "취미" : ["영화 감상", "게임", "독서"], "name" : "김길동"}
print(d["name"])

김길동

In [ ]:
emptyDictionary[2] = 3 #emptyDictionary에 2:3을 요소로 추가
print(emptyDictionary)

emptyDictionary["lectures"] = ["수학", "영어"] # 리스트를 값으로 추가
print(emptyDictionary)

d1["hello"] = "everyone" # d1의 "hello":"world"의 값을 변경
print(d1)

d1["수학"] = "영어"  # 기존 요소 값을 변경
print(d1)

boolean = {False:0} # 불린값을 키로 사용
boolean[True] = 1
print(boolean)

d2 = {(1, 2): "튜플"} # 튜플을 키로 사용
print(d2)

{2: 3}
{2: 3, 'lectures': ['수학', '영어']}
{2: 3, 'hello': 'everyone', '수학': 90}
{2: 3, 'hello': 'everyone', '수학': '영어'}
{False: 0, True: 1}
{(1, 2): '튜플'}



*   여러 개 값을 한꺼번에 추가 또는 수정

In [ ]:
d = {1 : 2, False : 20, (1, 2) : "튜플"}
d.update({1:3, False:"불린값", (1,2):[1,2], "key":"value"})

print(d[1])
print(d[False])
print(d[(1,2)])
print(d["key"])

3
불린값
[1, 2]
value



*   요소 접근 및 사용

In [ ]:
print(emptyDictionary[2])
print(emptyDictionary.get(2))
print(emptyDictionary["lectures"])
print(emptyDictionary.get("lectures"))
print(boolean[False]) # 또는 boolean.get(False)를 사용
print(d2[(1, 2)])
print(d2.get((1, 2)))

3
3
['수학', '영어']
['수학', '영어']
0
튜플
튜플

In [ ]:
print(d2)
print(d2[3]) # 없는 키 3으로 확인, 오류 발생

{(1, 2): '튜플'}

KeyError: ignored

In [ ]:
print(d2.get(3))

None



*   키가 딕셔너리에 있는지 확인

In [ ]:
if 3 in d2:
  print(d2[3])
else:
  print("3이 키가 아닙니다")

3이 키가 아닙니다



*   요소 개수 확인

In [ ]:
print(d2)
print(len(d2))

print(d1)
print(len(d1))

print(emptyDictionary)
print(len(emptyDictionary))

print(len({}))

{(1, 2): '튜플'}
1
{2: 3, 'hello': 'everyone', '수학': '영어'}
3
{2: 3, 'lectures': ['수학', '영어']}
2
0



*   요소 삭제

In [ ]:
print(d1)
del(d[1]) # 키가 1인 요소 삭제
print(d1)

print(d)
del(d[False])
print(d)

{2: 3, 'hello': 'everyone', '수학': '영어'}
{2: 3, 'hello': 'everyone', '수학': '영어'}
{False: '불린값', (1, 2): [1, 2], 'key': 'value'}
{(1, 2): [1, 2], 'key': 'value'}



*   요소 전체를 삭제

In [ ]:
d = {1: 2, False: 20, (1, 2) : "튜플"}
d.clear()
print(d)

{}

## for문과 딕셔너리 사용

In [ ]:
d = {1:2, False:20, (1,2): "튜플"}
for key in d:
  print(f"{key}:{d[key]}")

1:2
False:20
(1, 2):튜플

In [ ]:
for key in d.keys():
  print(f"{key}:{d[key]}")

1:2
False:20
(1, 2):튜플

In [ ]:
d = {1:2, False:20, (1,2):"튜플", "문자열":2} # 값 2가 중복됨
for value in d.values():
  print(value)

2
20
튜플
2

In [ ]:
d = {1:2, False:20, (1,2):"튜플", "문자열":2}
for key, value in d.items():
  print(f"{key}:{value}")

1:2
False:20
(1, 2):튜플
문자열:2

*   실습문제5: 다음 코드에서 보인 문자열 sentence에서 각 알파벳 문자들의 빈도수를 구하는 프로그램을 작성한다.

sentences = """Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
Maecenas porttitor congue massa.
Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet
commodo magna eros quis urna.
Nunc viverra imperdiet enim.
"""




*   요구사항:
- 공백 문자, 탭문자, 줄바꿈 문자, 마침표나 따옴표, 콤마 같은 특수 문자의 개수도 각각 센다.
- 대문자와 소문자를 구별하지 않고 글자 수를 센다.
- 글자: 개수 형태로 화면에 출력한다.
-- 영문 알파벳은 소문자로 출력한다.
-- 화면에 출력할 수 없는 공백 문자, 탭문자, 줄바꿈 문자는 글자를 대신해서 SPACE, TAB, NEWLINE으로 출력한다(예: NEWLINE:3)

In [ ]:
sentences = """Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
Maecenas porttitor congue massa.
Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet
commodo magna eros quis urna.
Nunc viverra imperdiet enim.
"""
# 빈 딕셔너리 생성
d = {}

lowerSentences = sentences.lower()
# 각 글자들이 딕셔너리에 있는지 확인하고 1을 증가시키거나 1로 초기화
for s in lowerSentences:
  if s in d:
    d[s] += 1
  else:
    d[s] = 1

# 각 글자들이 딕셔너리에 있는지 확인하고 1을 증가시키거나 1로 초기화
for k, v in d.items():
  if k == " ":
    k = "SPACE"
  elif k == "\t":
    k = "TAB"
  elif k == "\n":
    k = "NEWLINE"

  print(f"{k}:{v}")

l:8
o:13
r:15
e:23
m:13
SPACE:28
i:17
p:7
s:17
u:14
d:6
t:13
a:17
,:4
c:10
n:11
g:4
.:4
NEWLINE:5
f:1
v:3
b:1
q:1

*   실습문제6: 서울시에 살고 있던 구별 인구 중 10개를 가나다순으로 뽑아서 문자열을 만들었다.
- guPopulation = "강남구,233363,강동구,199088,강북구,144410,강서구,267442,관악구,273736,광진구,166638,구로구,180027,금천구,114402,노원구,217272,도봉구,138120"
이 문자열을 이용해서 구:인구 형태의 딕셔너리를 구성한다.
사용자로부터 정수 한 개를 입력받고, 입력한 값보다 인구가 적은 구를 찾아 구의 이름과 인구를 화면에 모두 출력하는 프로그램을 작성한다.


*   요구사항:
- 사용자는 정수를 입력할 것이라고 가정한다.
- 만약 사용자가 입력한 정수값(변수 num이라고 가정)보다 작은 구가 없으면 "인구가 num보다 작은 구가 없습니다"를 출력한다.
- 구:인구 형태로 출력한다.

In [ ]:
guPopulation = "강남구,233363,강동구,199088,강북구,144410,강서구,267442,관악구,273736,광진구,166638,구로구,180027,금천구,114402,노원구,217272,도봉구,138120"

# 문자열에서 리스트 구성. 리스트의 요소는 구, 인구, 구 인구, ...
lst = guPopulation.split(",")

# 리스트로부터 딕셔너리 생성
d = {}
for i in range(0, len(lst), 2):
  d[lst[i]] = int(lst[i + 1])

# 인구 입력 받기
num = int(input("비교할 인구를 입력하세요: "))

# 딕셔너리에 있는 구/인구 정보와 인구 비교
count = 0
for gu, population in d.items():
  if population < num:
    print(f"{gu}:{population}")
    count += 1 # 출력된 구가 있음

# count == 0이면 출력된 구가 없음
if count == 0:
  print(f"인구가 {num}보다 작은 구가 없습니다")

비교할 인구를 입력하세요: 100000
인구가 100000보다 작은 구가 없습니다

# Reference: 본 코드는 길벗 출판사의 "파이썬의 정석" 책의 코드를 수업형식에 맞게 응용한 코드입니다.